@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Information</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>UR Investing Office</b><br />
    ED 519, Education Building<br />
    University of Regina<br />
    3737 Wascana Parkway,<br />
    Regina, Saskatchewan<br />
    CANADA, S4S 0A2<br />
</address>
<address>
    <strong>Phone:</strong> Phone#<br />
    <strong>Fax:</strong> Fax# <br />
    <strong>Email:</strong> <a href="mailto:urinvesting@gmail.ca">urinvesting@gmail.ca</a> <br />
    <a href="http://www.facebook.com/urInvesting" target="_blank"><img src="~/Content/Files/Facebook Logo.png" width="50" height="50" /></a>
    <a href="https://twitter.com/UR_Investing" target="_blank"><img src="~/Content/Files/Twitter Logo.png" height="50" width="50" /></a>
</address>