@model UR_Investing.Models.Member

<!-- Member navigation link and dropdowns-->
<li class="dropdown dropdown-main hidden-xs @(ViewBag.currentPage == "Members" ? "active" : "")">
    <a href="@Url.Action("Index","Members")">
        Members <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-first multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="#">Some action</a></li>
        <li><a href="#">Some other action</a></li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Hover me for more options</a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Second level</a></li>
                <li class="dropdown-submenu">
                    <a href="#">Even More..</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">3rd level</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>